
.detail-container {
  padding-top: 40px;
  display: flex;
  height: 100%;
  grid-template-columns: 1fr;
  justify-content: center;
}

.card {
  max-width: 30%;
  max-height: 50%;
  margin-left: 70px;
}

i {
  font-size: 38px;
  color: #00DEB4;
  cursor: pointer;
}

@media (max-width: 500px) {
  .card {
    min-width: 70%;
    min-height: max-content;
    margin-left: 20px;
  }

  i {
    justify-self: flex-start;
  }

  .back {
    justify-self: flex-start;
  }
}
