
.home-container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  padding: 50px;
  justify-items: center;
  align-items: start;
}

tbody > tr {
  cursor: pointer;
}

@media (min-width: 501px) {
  table {
    min-width: 800px;
  }
}



@media (max-width: 500px) {
  table {
    max-width: 10px !important;
  }
  .home-container {
    padding: 5px;
  }
}
